* {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}
body {
	background-image: url(Biome.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
	background-attachment: fixed;
	background-position: center center;
	height: 100%;
}

.nav-list {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	position: fixed;
	width: 100%;
	transition: top 0.3s;
}

.nav-item {
	text-transform: uppercase;
	font-weight: 600;
	background-color: rgb(255, 255, 255);
	padding: 30px;
	padding-left: 15px;
	color: black;
	margin-right: auto;

}
.nav-item:hover {
	color: rgb(121, 121, 121);
	transition-duration: 0.1;
}

.nav-item1 {
	text-transform: uppercase;
	font-weight: 600;
	background-color: rgb(255, 255, 255);
	padding: 21px;
	padding-right: 0px;
	padding-left: 25px;
}
.nav-item1 a {
	color: #000;
}

.title {
	text-align: center;
	margin-top: 0px;
	font-weight: 600;
	font-size: 60px;
	letter-spacing: 5px;
	font-family: Trebuchet MS;
	color: rgb(255, 255, 255);
	padding-top: 150px;
}

.TheChosenOne {
	text-transform: uppercase;
	font-weight: 600;
	background-color: rgb(255, 255, 255);
	padding: 30px;
	width: 100%;
}
.TheChosenOne a {
	color: #000;
	letter-spacing: 1.2px;

}
.TheChosenOne:hover a {
	color: rgb(121, 121, 121);
	transition-duration: 0.1;
}

.paragraphe-smol {
	text-align: left;
	margin-top: 50px;
	font-weight: 600;
	font-size: 23px;
	letter-spacing: 1.5px;
	font-family: Trebuchet MS;
	background-color: rgba(0, 0, 0, 0.362);
	padding: 100px;
	color: rgb(255, 255, 255);
}

.paragraphe {
	width: 100%;
}

.logo {
	display: flex;
	justify-content: center;
	width: 200px;
}
.btn {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 600;
	background-color: rgb(178, 201, 120);
	color: white;
	padding: 15px;
	margin-left: 39%;
	margin-right: 39%;
	margin-top: 0px;
	margin-bottom: 50px;
	border-radius: 10px;
}
.btn:hover {
	background-color: rgb(145, 162, 98);
}

.loogo {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.multimc {
	text-align: center;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 600;
	color: rgb(255, 255, 255);
	padding: 30px;
	padding-bottom: 0;
}
.Mods {
	text-align: center;
	text-align: center;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: 600;
	color: rgb(255, 255, 255);
	padding: 30px;
	padding-bottom: 10px;
}
.download {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	font-weight: 600;
	background-color: rgb(120, 185, 201);
	color: white;
	padding: 15px;
	margin-left: 39%;
	margin-right: 39%;
	margin-top: 0px;
	margin-bottom: 50px;
	border-radius: 10px;
}
.download:hover {
	background-color: rgb(98, 137, 162);
}
.img{
	padding: 20px;
	max-width: 8%;
	max-height: 8%;
	display: block;
	padding-top: 50px;


}
.ModsList {
	color: rgb(213, 222, 255);
}

.ModsList:hover {
	color: rgb(65, 151, 201);
	transition-duration: 0.1;
}
.img {
	padding: 15px;
	padding-top: 50px;
}
.littleTitle {
	font-size: 50px;
}
